body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    font-size: 11px;
}

body * {
    box-sizing: border-box;
}

.button {
    border: 1px solid #E3B873;;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;   
    outline: 0;
    padding: 15px 33px;
    color: #ffffff;
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
    overflow: hidden;
    cursor: pointer;
 }

 .button:active {
    top: 0;
    left: 0;
    border: 1px solid #ffffff;
    background-color: transparent;
 }

 .button-suggestion {
    margin-right: 20px;
    padding: 21px 37px;
 }

 .header {
    background-color: #131313;
 }

 .container {
    max-width: 1171px;
    margin: 0 auto;
 }
 
 .header-content {
    max-width: 1256px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
 }

 .logo {
    color: #E3B873;
    text-transform: uppercase;
 }

.navigation {
    margin-left: 38px;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation-item {
    margin-right: 53px;
}

.header-navigation-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-navigation-link:hover,
.header-navigation-link:active {
    color: #E3B873;
}

.phone {
    color: #E3B873;
}

.suggestion {
    background-image: url('../images/suggestion.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 189px;
    position: relative;
}

.suggestion::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
}

.suggestion-container {
    position: relative;
    padding-right: 656px;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;
}

.title-h2 {
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
}

.title-h3 {
    font-size: 18px;
    line-height: 25px;
}

.subtitle {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 34px;
}

.highlighting-color {
    color: #E3B873;
}

.competed-projects {
    background-color: #131313;
    position: relative;
    height: 1074px;
    z-index: 0;
}

.project-description {
    padding-top: 171px;
    position: relative;
}

.container-project-description {
    display: flex;
    justify-content: space-between;
}

.city {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.city-object-wrapper {
    width: 193px;
    position: relative;
    margin-top: 45px;
}

.container-city-object {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF; 
    width: 95px;
}

.slider-navigation {
    display: flex;
    justify-content: flex-start;
    margin-top: 87px;
}

.slider-dot {
    background-color: rgba(255, 255, 255, 0.3);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 17px;
}

.slider-dot:hover,
.slider-dot:active {
    background-color: #FFFFFF;
}

.slider-arrow{
    margin-right: 29px;
}

.slider-arrow img{
    cursor: pointer;
}

.title-wrapper {
    width: 200px;
}

.slider-projects {
    position: relative;
    color: white;
    padding-top: 107px;
}

.slider-project-items {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    padding-bottom: 52px;
}

.slider-projets-item {
    display: flex;
    flex-basis: content;
    margin-right: 60px;
    border-bottom: 1px solid #131313;
    padding-bottom: 7px;
}

.slider-projets-item:hover,
.slider-projets-item:active {
    border-bottom: 1px solid #E3B873;
}

.slider-projects-navigation-link {
    font-family: Yeseva One;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

.slider-projects-navigation-link:hover,
.slider-projects-navigation-link:active {
    color:#E3B873;
}

.slider-projects-element {
    list-style: none;
}

.slider-projects-element img{
    width: 679px;
    height: 482px;
}

.subtitle-project-description {
    font-size: 14px;
    line-height: 27px;
}

.online-control {
    margin-top: 0px;
    z-index: 1;
}

.online-control-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -327px;
    position: relative;
}

.online-control-title {
    font-size: 20px;
    line-height: 28px;
    color:#FFFFFF;
}

.center-icon {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.center-icon-wrapper {
    width: 32px;
    height: 28px;
}

.icon-line {
    background-color: #E3B873;
    height: 1px;
    width: 32px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.line-hr {
    width: 52px;
    margin-top: 62px;
    height: 2px;
}

.online-control-video-player{
    margin-top: 33px;
    position: relative;
    background-size: cover;
    background-color: #FFFFFF;
    background-image: url('../images/online-control.jpg');
    width: 817px;
    height: 434px;
    display: flex;

}

.online-control-video-player::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
}

.online-control-play-icon {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
}

.online-control-play-icon img {
    width: 140px;
    height: 140px;
}

.online-control-play-icon img:hover{
    cursor: pointer;
}

.online-control-content-container {
    width: 681px;
    margin-top: 11px;
}

.online-control-p {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.online-control-personal-data {
    margin-top: 60px;
}

.online-control-form {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.form-personal-data {
    display: flex;
    flex-direction: column;
    margin-right: 110px;
}

.label {
    position: relative;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input {
    position: relative;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.button-personal-data {
    padding: 20px 75px;
    font-style: normal;
}

.button-personal-data:active {
    top: 0;
    left: 0;
    border: 1px solid #E3B873;
    background-color: rgba(0, 0, 0, .3);
 }

.label-checkbox {
    cursor: pointer;
    flex-basis:100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 34px;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.checkbox {
    display: none;
}

.fake {
    margin-right: 10px;
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.title-types-of-repair {
    color: #181818;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.types-of-repair-containter {
    margin-top: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1236px;
}

.types-of-repair-wrapper {
    display: flex;
    justify-content:space-between;
    margin-top: 33px;
}

.types-of-repair-item {
    position: relative;
    height: 608px;
    width: 392px;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.repair-item-1 {
    background-image: url('../images/redecorating.jpg');  
}

.repair-item-2 {
    background-image: url('../images/overhaul.jpg');  
}

.repair-item-3 {
    background-image: url('../images/designer-repair.jpg');  
}

.repair-item-put {
    padding: 30px 30px 30px 45px;
    margin: 292px auto;
    width: 330px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.title-item-put {
    line-height: 25px;
    color: #363636;
    text-transform: none;
}

.types-of-repair-ul {
    padding-left: 16px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.repair-button {
    margin-left: -45px;
    padding: 17px 22px;
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
}

.repair-button:active {
    top: 0;
    left: 0;
    border: 1px solid #E3B873;
    background-color: rgba(0, 0, 0, .3);
}

.free-measurement-container {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    max-width: 1450px;
    background-image: url('../images/free-measurement.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 700px;
}

.free-measurement-container-left-part {
    width: 659px;
}

.free-measurement-container-part {
    padding-left: 240px;
    padding-top: 70px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 659px;
}

.left-part-circle {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    padding: 10px 5px;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.left-part-p{
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.left-part-text-container {
    width: 359px;
    padding-left: 8px;
}

.free-measurement-container-right-part {
    height: 510px;
    width: 506px;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin-right: 111px;
    margin-top: 68px;
}

.free-measurement-form {
    display: flex;
    flex-direction: column;
}

.measurement-title {
    font-family: 'Nunito Sans';
    text-transform: none;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.wrapper-title-form {
    width: 272px;
    margin: 26px auto;
}

.measurement-label {
    color: rgba(255, 255, 255, 0.5);
}

.measurement-input {
    background-color: #131313;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.form-measurement-data {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 8px;
    margin-right: 50px;
    margin-bottom: 44px;
}

.label-checkbox-measurement {
    color: #FFFFFF;
    margin-top: -26px;
    margin-left: -116px;
}

.button-measurement {
    font-style: normal;
    padding: 19px 22px;
    font-size: 13px;
    line-height: 21px;
    width: 212px;
    margin-left: 246px;
    margin-top: 33px;
}

.container-doll-pig {
    background-color: #FFFFFFFF;
    margin-top: 19px;
    padding-left: 32px;
    padding-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.circle-pig {
    background: #E3B873;
    border: 0px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 40px;
    width: 75px;
    height: 75px;
    padding: 17px 19px;
}

.container-doll-pig-text {
    padding-left: 25px;
    width: 257px;
}

.container-doll-pig-p{
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
}
