body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    font-size: 11px;
}

body * {
    box-sizing: border-box;
}

.button {
    border: 1px solid #E3B873;;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;   
    outline: 0;
    padding: 15px 33px;
    color: #ffffff;
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
    overflow: hidden;
    cursor: pointer;
 }

 .button:active {
    top: 0;
    left: 0;
    border: 1px solid #ffffff;
    background-color: transparent;
 }

 .button-suggestion {
    margin-right: 18px;
    padding: 21px 37px;
    min-width: 208px;
 }

 .button-suggestion-application {
    padding: 21px 12px;
 }

.button-suggestion-application-mobile {
    display: none;
}

 .header {
    background-color: #131313;
 }

 .container {
    max-width: 1440px;
    margin: 0 auto;
 }
 
 .header-content,
 .footer-content {
    max-width: 1256px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
 }

 .logo {
    color: #E3B873;
    text-transform: uppercase;
 }

.navigation {
    margin-left: 38px;
}

.header-navigation,
.footer-navigation {
    list-style: none;
    display: flex;
}

.header-navigation-item,
.footer-navigation-item {
    margin-right: 53px;
}

.header-navigation-link,
.footer-navigation-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-navigation-link:hover,
.header-navigation-link:active,
.footer-navigation-link:hover,
.footer-navigation-link:active {
    color: #E3B873;
}

.phone {
    color: #E3B873;
}

.suggestion {
    background-image: url('../images/suggestion.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 189px;
    position: relative;
}

.suggestion::before,
.wildest-fantasies::before,
.our-clients::before,
.contacts::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
}

.suggestion-container {
    position: relative;
    padding-right: 712px;
    padding-left: 134px;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;
}

.title-h2 {
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
}

.title-h3 {
    font-size: 18px;
    line-height: 25px;
}

.subtitle {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 34px;
}

.highlighting-color {
    color: #E3B873;
}

.competed-projects {
    background-color: #181818;
    position: relative;
    height: 1074px;
    z-index: 0;
}

.project-description {
    padding-top: 170px;
    padding-left: 127px;
    position: relative;
}

.container-project-description {
    display: flex;
    justify-content: space-between;
}

.city {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.city-object-wrapper {
    width: 193px;
    position: relative;
    margin-top: 45px;
}

.container-city-object {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF; 
    width: 95px;
}

.slider-navigation {
    display: flex;
    justify-content: flex-start;
    margin-top: 87px;
}

.slider-dot {
    background-color: rgba(255, 255, 255, 0.3);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 17px;
}

.slider-dot:hover,
.slider-dot:active {
    background-color: #FFFFFF;
}

.slider-arrow{
    margin-right: 29px;
}

.slider-arrow img{
    cursor: pointer;
}

.title-wrapper {
    width: 200px;
}

.slider-projects {
    position: relative;
    color: white;
    padding-top: 107px;
    padding-right: 136px;
}

.slider-projects-mobile,
.wildest-fantasies-gallary-mobile {
    display: none;
}

.slider-project-items {
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    padding-bottom: 52px;
}

.slider-projets-item {
    display: flex;
    flex-basis: content;
    margin-right: 60px;
    border-bottom: 1px solid #131313;
    padding-bottom: 7px;
}

.slider-project-items-ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; 
    text-transform: uppercase;
}

.slider-project-items-li {
    padding-right: 59px;
}

.slider-projects-navigation-link {
    font-family: Yeseva One;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

.slider-projects-navigation-link:hover,
.slider-projects-navigation-link:active {
    color:#E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 5px;
}

.slider-projects-element {
    list-style: none;
}

.slider-projects-element img{
    width: 679px;
    height: 482px;
}

.subtitle-project-description {
    font-size: 14px;
    line-height: 27px;
    padding-top: 10px;
    padding-right: 85px;
}

.online-control {
    margin-top: 0px;
    z-index: 1;
}

.online-control-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -327px;
    position: relative;
}

.online-control-title {
    font-size: 20px;
    line-height: 28px;
    color:#FFFFFF;
}

.center-icon {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.center-icon-wrapper {
    width: 32px;
    height: 28px;
}

.icon-line {
    background-color: #E3B873;
    height: 1px;
    width: 32px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.line-hr {
    width: 52px;
    margin-top: 62px;
    height: 2px;
}

.online-control-video-player{
    margin-top: 33px;
    position: relative;
    background-size: cover;
    background-color: #FFFFFF;
    background-image: url('../images/online-control.jpg');
    width: 817px;
    height: 434px;
    display: flex;

}

.online-control-video-player::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
}

.online-control-play-icon {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
}

.online-control-play-icon img {
    width: 140px;
    height: 140px;
}

.online-control-play-icon img:hover{
    cursor: pointer;
}

.online-control-content-container {
    width: 681px;
    margin-top: 11px;
}

.online-control-p {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.online-control-personal-data {
    margin-top: 60px;
}

.online-control-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-personal-data {
    display: flex;
    flex-direction: column;
    margin-right: 110px;
}

.label {
    position: relative;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input {
    position: relative;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.button-personal-data {
    padding: 20px 75px;
    font-style: normal;
}

.button-personal-data:active {
    top: 0;
    left: 0;
    border: 1px solid #E3B873;
    background-color: rgba(0, 0, 0, .3);
 }

.label-checkbox {
    cursor: pointer;
    flex-basis:100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 34px;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.checkbox {
    display: none;
}

.fake {
    margin-right: 10px;
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.title-types-of-repair {
    color: #181818;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.types-of-repair-containter {
    margin-top: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1236px;
}

.types-of-repair-wrapper {
    display: flex;
    justify-content:space-between;
    margin-top: 33px;
}

.price-meter {
    background-color: #E3B873;
    padding: 16px 17px;
    width: 228px;
    margin-left: -44px;
    margin-top: 16px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.price-meter-p {
    font-family: 'Yeseva One';
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0;
}

.types-of-repair-item {
    position: relative;
    height: 608px;
    width: 392px;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.repair-item-1 {
    background-image: url('../images/redecorating.jpg');  
}

.repair-item-2 {
    background-image: url('../images/overhaul.jpg');  
}

.repair-item-3 {
    background-image: url('../images/designer-repair.jpg');  
}

.repair-item-put {
    padding: 30px 30px 30px 45px;
    margin: 292px auto;
    width: 330px;
    height: 302px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.title-item-put {
    line-height: 25px;
    color: #363636;
    text-transform: none;
}

.types-of-repair-ul {
    padding-left: 16px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.free-measurement-container {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    max-width: 1450px;
    background-image: url('../images/free-measurement.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 700px;
}

.free-measurement-container-left-part {
    width: 659px;
}

.free-measurement-container-part {
    padding-left: 240px;
    padding-top: 70px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 659px;
}

.left-part-circle {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    padding: 10px 5px;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.left-part-p{
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.left-part-text-container {
    width: 359px;
    padding-left: 8px;
}

.free-measurement-container-right-part {
    height: 510px;
    width: 506px;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin-right: 111px;
    margin-top: 68px;
}

.free-measurement-form,
.question-form {
    display: flex;
    flex-direction: column;
}

.measurement-title {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: none;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.wrapper-title-form {
    width: 272px;
    margin: 26px auto;
}

.measurement-label,
.contacts-label {
    color: rgba(255, 255, 255, 0.5);
}

.measurement-input,
.contacts-input {
    background-color: #131313;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.form-measurement-data,
.question-form-data {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 8px;
    margin-right: 50px;
    margin-bottom: 44px;
}

.label-checkbox-measurement {
    color: #FFFFFF;
    margin-top: -26px;
    margin-left: -116px;
}

.button-measurement{
    font-style: normal;
    padding: 19px 22px;
    font-size: 13px;
    line-height: 21px;
    width: 212px;
    margin-left: 246px;
    margin-top: 33px;
}

.container-doll-pig {
    background-color: #FFFFFFFF;
    margin-top: 19px;
    padding-left: 32px;
    padding-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.circle-pig {
    background: #E3B873;
    border: 0px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 40px;
    width: 75px;
    height: 75px;
    padding: 17px 19px;
}

.container-doll-pig-text {
    padding-left: 25px;
    width: 257px;
}

.container-doll-pig-p{
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
}

.wildest-fantasies {
    background-image: url('../images/wildest-fantasies.png');
    background-size: cover;
    height: 864px;
    margin-top: 230px;
    position: relative;
}

.wildest-fantasies-container {
    display: flex;
    position: relative;
    max-width: 1250px;
    z-index: 1;
}

.wildest-fantasies-list-style {
    padding-top: 135px;
    padding-right: 110px;
    width: 488px;
}

.wildest-fantasies-gallary {
    display: flex;  
    flex-direction: column;
}

.wildest-fantasies-gallary-inline{
    display: flex;
}

.wildest-fantasies-gallary-item-1 {
    margin-top: -40px;
    width: 354px;
    height: 557px;
}

.wildest-fantasies-gallary-item-2 {
    margin-left: 43px;
    margin-top: -112px; 
    width: 354px;
    height: 275px;
}

.wildest-fantasies-gallary-item-3 {
    margin-top: 39px;
    width: 354px;
    height: 349px;
}

.wildest-fantasies-gallary-item-4 {
    margin-left: 43px;
    margin-top: -317px;
    width: 354px;
    height: 624px;
}

.wildest-fantasies-list {
    margin-top: 32px;;
}

.wildest-fantasies-list-ul{
    margin: 0;
    padding: 0;
    list-style: none; 
}


.wildest-fantasies-list-li {
    font-size: 20px;
    line-height: 49px;
}

.wildest-fantasies-list-li a{
    color: #FFFFFF;
    text-decoration: none;

}

.wildest-fantasies-list-li a:hover,
.wildest-fantasies-list-li a:active {
    color:#E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 0px;
}

.our-clients {
    background-image: url('../images/city.png');
    background-repeat: repeat-x;
    background-position: left bottom;
    height: 1051px;
    margin-top: 50px;
    position: relative;
}

.our-clients-before::before {
    background-color: rgba(255, 255, 255, 0.9);
}

.our-clients-container {
    position: relative;
    max-width: 1235px;
    padding-top: 57px;
    z-index: 1;
}
.our-clients-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-clients-title-wrapper-center{
    display: flex;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    width: 420px;
    padding-top: 7px
}

.our-clients-title-h2 {
    color: #181818;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
}

.our-clients-wrapper {
    display: flex;
    justify-content: space-between;
}

.our-clients-wrapper-item {
    width: 376px;
    height: 447px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding-left: 20px;
    padding-top: 45px;
}

.our-clients-wrapper-item-line {
    display: flex;
    padding-right: 55px;
}

.our-client-image {
    border-radius: 50%;
}

.our-client-title-h3 {
    line-height: 23px;
    color: #181818;
    text-transform: none;
    padding-top: 17px;
    padding-left: 22px;
}

.our-clients-wrapper-item-p {
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    padding-right: 35px;
}

.our-clients-square {
    display: flex;
    align-items: center;
    background-color: #E3B873;
    height: 54px;
    padding: 11px 17px;
    border-right: 1px solid #FFFFFF;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.our-clients-square-border {
    border: none;
}

.our-clients-square p {
    padding-left: 15px;
    font-family: 'Yeseva One';
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.our-clients-square-days {
    margin-top: 47px;
    margin-left: -21px;
}

.contacts {
    background-image: url('../images/city-2.png');
    background-size: cover;
    height: 950px;
    position: relative;
}

.contacts-before::before {
    background-color: rgba(0, 0, 0, 0.8);
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contacts-question-form {
    background-color: #181818;
    width: 883px;
    height: 445px;
    margin-top: -212px;
    position: relative;
    z-index: 1;
}

.contacts-form-h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.contacts-personal {
    margin-top: 12px;
    display: flex;
}

.contacts-input {
    background-color: #181818;
}

.question-form {
    align-items: center;
}

.question-form-data-q{
    width: 500px;
}

.label-checkbox-contacts {
    color: #FFFFFF;
    margin-top: 2px;
}

.contacts-input-person {
    width: 200px;
}

.button-contacts {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    padding: 11px 75px;
    line-height: 27px;
    margin-top: 35px;
}

.contacts-title-h3 {
    position: relative;
    color: #E3B873;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 550px;
    margin-top: 40px;
}

.contacts-icon {
    position: relative;
    display: flex;
    margin-top: 26px;
}

.contacts-icon-circle {
    background-color: #E3B873;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.contacts-icon-circle-email {
    padding: 8px 7px;
}

.contacts-icon-circle-insta {
    padding: 7px 8px;
}

.contacts-img-map {
    position: relative;
    margin-top: 40px;
}

.footer {
    background-color: #181818;
}

.footer-content {
    height: 133px;
}

.contacts-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-title-circle-icon .contacts-icon {
    justify-content: center;
}


@media screen and (max-width: 768px) {

    .navigation {
        display: none;
    }

    .header-content,
    .suggestion-container {
        padding-left: 18px;
        padding-right: 18px;
    }

    .suggestion-container .title {
        font-size: 23px;
        line-height: 132.83%;
    }

    .header-content .button {
        display: none;
    }

    .phone {
        color: #FFFFFF;
    }

    .suggestion {
        height: 476px;
    } 

    .suggestion {
        padding-top: 85px;
    }

    .subtitle {
        font-size:  14px;
        line-height: 135.84%;
    }

    .suggestion-container {
        display: flex;
        flex-direction: column;
    }

    .button-suggestion-application {
        display: none;
    }

    .button-suggestion-application-mobile,
    .button-suggestion {
        margin-top: 26px;
        padding-top: 19px;
        padding-bottom: 19px;
        margin-right: 0;
    }

    .button-suggestion-application-mobile {
        display: inline;
    }

    .project-description {
        padding-top: 36px;
        padding-left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-project-description {
        flex-direction: column;
        padding-top: 36px;
    }

    .title-wrapper {
        margin: 0 auto;
        text-align: center;
    }

    .title-wrapper .title-h2 {
        font-size: 22px;
        line-height: 138.6%;
        letter-spacing: -0.07em;
    }

    .subtitle-project-description {
        font-size: 11px;
        padding-left: 50px;
        padding-right: 50px;
        line-height: 158.48%;
    }

    .slider-navigation {
        display: none;
    }

    .slider-projects {
        display: none;
    }

    .slider-projects-mobile,
    .wildest-fantasies-gallary-mobile {
        display: flex;
        margin-top: 70px;
        position: relative;
        align-items: center;
    }

    .wildest-fantasies-gallary-mobile {
        margin-top: 24px;
    }

    .slider-arrow-mobile,
    .wildest-fantasies-gallary-arrow-mobile {
        background-color: #E3B873;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        text-align: center;
    }

    .slider-arrow-mobile-icon,
    .wildest-fantasies-gallary-arrow-mobile-icon {
        padding-top: 10px;
    }

    .mobile-arrows {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .city-object-wrapper .title-h3 {
        font-size: 14px;
        line-height: 138.6%;
    }

    .city-object-wrapper {
        text-align: left;
    }

    .description-object {
        width: 386px;
        margin-left: 42px
    }

    .container-city-object {
        font-size: 11px;
        line-height: 135.84%;
    }

    .online-control-title {
        font-size: 22px;
        line-height: 138.6%;
        width: 340px;
        height: 207px;
        text-align: center;
    }

    .slider-projects-mobile-img,
    .wildest-fantasies-gallary-mobile-img {
        height: 100%;
        width: 100%;
    }

    .online-control-video-player {
        height: 207px;
        width: 340px;
    }

    .online-control-play-icon img{
        height: 50px;
        width: 50px;
    }

    .online-control-title {
        height: 0;
        padding-bottom: 35px;
    }

    .online-control {
        background-color: #181818;
    }

    .line-hr {
        margin-top: 27px;
    }

    .online-control-p {
        font-size: 11px;
        line-height: 169.8%;
        color: #FFFFFF;
    }

    .online-control-form {
        flex-direction: column;
    }

    .online-control-personal-data .input {
        color: #FFFFFF;
        background-color: #181818;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }

    .online-control-personal-data,
    .contacts-personal {
        width: 100%;
        padding-right: 18px;
        padding-left: 18px;
        margin-top: 0;
    }

    .online-control-personal-data .label{
        color: rgba(255, 255, 255, 0.5);
    }

    .online-control-personal-data .form-personal-data {
        margin-right: 0px;
        margin-top: 60px;
    }

    .online-control-personal-data .text {
        color: #FFFFFF;
    }

    .online-control-personal-data .label-checkbox {
        margin-top: -125px;
        justify-content: left;
        padding-bottom: 75px;
    }

    .online-control-personal-data .button-personal-data {
        margin-top: 100px;
    }

    .types-of-repair-containter .title-types-of-repair {
        font-size: 22px;
    }

    .types-of-repair-wrapper {
        flex-direction: column;
    }

    .types-of-repair-item {
        padding-right: 39px;
        margin-bottom: 59px;
        margin-left: 16px;
        margin-right: 16px;
        max-width: 360px;
    }

    .title-item-put {
        font-size: 15px;
        line-height: 138.6%;   
    }

    .free-measurement {
        display: none;
    }

    .wildest-fantasies {
        background-image: none;
        margin-top: 0;
        height: 250px;
    }
    
    .wildest-fantasies::before {
        display: none;
    }
   
    .wildest-fantasies-gallary {
        display: none;
    }

    .wildest-fantasies-list {
        display: none;
    }

    .wildest-fantasies-list-style .title-h2 {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
    }

    .wildest-fantasies-container {
        align-items: center;
        flex-direction: column;
    }

    .wildest-fantasies-list-style {
        width: 310px;
        padding: 0;
    }

    .our-clients {
        display: none;
    }

    .contacts {
        background-image: none;
        background-color: #181818;
        height: 1100px;
    }

    .contacts-question-form {
        margin-top: -44px;
        padding-top: 137px;
        z-index: 0;
    }

    .contacts-question-form .contacts-personal {
        flex-direction: column;
    }

    .contacts-personal {
        padding-left: 0;
        padding-right: 0;
    }

    .contacts-question-form {
        width: 100%;
        height: 100%;
    }

    .question-form {
        padding-left: 18px;
        padding-right: 18px;
    }

    .question-form-data {
        margin-left: 0;
        margin-right: 0;
    }

    .contacts-input-person {
        width: 100%;
    }

    .question-form-data-q {
        width: 100%;
        margin-bottom: 20px;
    }

    .contacts-before::before {
        display: none;
    }

    .contacts-question-form .label-checkbox-contacts {
        justify-content: left;
        width: 100%;
    }

    .button-contacts {
        width: 100%;
        margin-top: 65px;
    }

    .contacts-img-map {
        width: 100%;
        padding: 18px;
    }

    .contacts-title-h3 {
        width: 100%;
        font-size: 18px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .contacts-mobile {
        display: flex;
        flex-direction: column-reverse;
    }

    .contacts-mobile-wrapper .contacts-icon {
        justify-content: center;
    }

    .footer {
        display: none;
    }
    
}